USE [master]
GO
/****** Object:  Database [ProyectoAmbar]    Script Date: 04/05/2026 18:40:47 ******/
CREATE DATABASE [ProyectoAmbar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoAmbar_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoAmbar.mdf' , SIZE = 11264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProyectoAmbar_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoAmbar.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoAmbar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoAmbar]
GO
/****** Object:  Table [dbo].[actividades_complementarias]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actividades_complementarias](
	[ID_Actividad_Complementaria] [int] IDENTITY(1,1) NOT NULL,
	[ID_Tipo_Credito] [int] NOT NULL,
	[Nombre_Actividad] [varchar](100) NOT NULL,
	[ID_Periodo] [int] NOT NULL,
	[ID_Profesor] [int] NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[PDF_Formato_Credito] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Actividad_Complementaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[ID_Alumno] [int] IDENTITY(7,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Primer_Apellido] [nvarchar](20) NOT NULL,
	[Segundo_Apellido] [nvarchar](20) NULL,
	[ID_Carrera] [int] NOT NULL,
	[ID_Especialidad] [int] NULL,
	[ID_Estatus] [int] NULL,
	[ID_Periodo_Ingreso] [int] NOT NULL,
	[CURP] [nvarchar](21) NOT NULL,
	[Telefono] [nvarchar](10) NOT NULL,
	[Correo_Personal] [nvarchar](80) NOT NULL,
	[Correo_Institucional] [nvarchar](80) NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Ciudad] [nvarchar](30) NULL,
	[Colonia] [nvarchar](80) NULL,
	[Calle] [nvarchar](40) NULL,
	[Codigo_Postal] [nvarchar](10) NULL,
	[Contrasena] [nchar](64) NOT NULL,
	[Direccion_Foto] [nvarchar](400) NOT NULL,
 CONSTRAINT [PK_alumnos_ID_Alumno] PRIMARY KEY CLUSTERED 
(
	[ID_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bancos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bancos](
	[ID_Banco] [int] IDENTITY(3,1) NOT NULL,
	[Nombre_Banco] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_bancos_ID_Banco] PRIMARY KEY CLUSTERED 
(
	[ID_Banco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bloques_tiempo]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bloques_tiempo](
	[ID_Bloque_Tiempo] [int] IDENTITY(3,1) NOT NULL,
	[Hora_Inicio] [time](7) NOT NULL,
	[Hora_Final] [time](7) NOT NULL,
 CONSTRAINT [PK_bloques_tiempo_ID_Bloque_Tiempo] PRIMARY KEY CLUSTERED 
(
	[ID_Bloque_Tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carreras]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carreras](
	[ID_Carrera] [int] IDENTITY(3,1) NOT NULL,
	[Nombre_Carrera] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_carreras_ID_Carrera] PRIMARY KEY CLUSTERED 
(
	[ID_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conceptos_pago]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conceptos_pago](
	[ID_Concepto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Concepto] [varchar](40) NOT NULL,
	[Importe] [decimal](10, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Concepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditos_alumnos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditos_alumnos](
	[ID_Alumno] [int] NOT NULL,
	[ID_Actividad_Complementaria] [int] NOT NULL,
	[PDF_CreditoComplementario] [nvarchar](400) NULL,
	[ID_Estatus] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamentos_academicos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos_academicos](
	[ID_Departamento] [int] IDENTITY(3,1) NOT NULL,
	[Nombre_Departamento] [nvarchar](80) NOT NULL,
	[ID_Jefe_Departamento] [int] NOT NULL,
 CONSTRAINT [PK_departamentos_academicos_ID_Departamento] PRIMARY KEY CLUSTERED 
(
	[ID_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamentos_carreras]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos_carreras](
	[ID_Departamento] [int] NOT NULL,
	[ID_Carrera] [int] NOT NULL,
	[ID_Coordinador] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[especialidades]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[especialidades](
	[ID_Especialidad] [int] IDENTITY(3,1) NOT NULL,
	[Nombre_Especialidad] [nvarchar](60) NOT NULL,
	[ID_Carrera] [int] NOT NULL,
 CONSTRAINT [PK_especialidades_ID_Especialidad] PRIMARY KEY CLUSTERED 
(
	[ID_Especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estatus_alumnos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estatus_alumnos](
	[ID_Estatus] [int] NOT NULL,
	[Nombre_Estatus] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_estatus_alumnos_ID_Estatus] PRIMARY KEY CLUSTERED 
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estatus_eventos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estatus_eventos](
	[ID_Estatus] [int] NOT NULL,
	[Nombre_Estatus] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_estatus_eventos_ID_Estatus] PRIMARY KEY CLUSTERED 
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estatus_grupos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estatus_grupos](
	[ID_Estatus] [int] NOT NULL,
	[Nombre_Estatus] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_estatus_grupos_ID_Estatus] PRIMARY KEY CLUSTERED 
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estatus_profesores]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estatus_profesores](
	[ID_Estatus] [int] NOT NULL,
	[Nombre_Estatus] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_estatus_profesores_ID_Estatus] PRIMARY KEY CLUSTERED 
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estatus_recibos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estatus_recibos](
	[ID_Estatus] [int] NOT NULL,
	[Nombre_Estatus] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_estatus_recibos_ID_Estatus] PRIMARY KEY CLUSTERED 
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estatus_tickets]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estatus_tickets](
	[ID_Estatus] [int] NOT NULL,
	[Nombre_Estatus] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_estatus_tickets_ID_Estatus] PRIMARY KEY CLUSTERED 
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuentes_informacion]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuentes_informacion](
	[ID_Fuentes_Informacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Grupo] [int] NOT NULL,
	[Fuentes_Informacion] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Fuentes_Informacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupos](
	[ID_Grupo] [int] IDENTITY(4,1) NOT NULL,
	[ID_Carrera] [int] NOT NULL,
	[ID_Materia] [int] NOT NULL,
	[ID_Profesor] [int] NULL,
	[ID_Estatus] [int] NOT NULL,
	[ID_Periodo] [int] NOT NULL,
 CONSTRAINT [PK_grupos_ID_Grupo] PRIMARY KEY CLUSTERED 
(
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupos_alumnos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupos_alumnos](
	[ID_Grupo] [int] NOT NULL,
	[ID_Alumno] [int] NOT NULL,
	[UNIDAD1] [int] NULL,
	[UNIDAD2] [int] NULL,
	[UNIDAD3] [int] NULL,
	[UNIDAD4] [int] NULL,
	[UNIDAD5] [int] NULL,
	[UNIDAD6] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios](
	[ID_Grupo] [int] NOT NULL,
	[ID_Salon] [int] NOT NULL,
	[Dia_Semana] [smallint] NOT NULL,
	[ID_Bloque_Tiempo] [int] NOT NULL,
	[ID_Periodo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instrumentacion]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instrumentacion](
	[ID_Instrumentacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Grupo] [int] NOT NULL,
	[Instrumentacion] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Instrumentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kardex]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kardex](
	[ID_Carrera] [int] NOT NULL,
	[ID_Materia] [int] NOT NULL,
	[Seriada] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material_didactico]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_didactico](
	[ID_Material_Didactico] [int] IDENTITY(1,1) NOT NULL,
	[ID_Grupo] [int] NOT NULL,
	[Materia_Didactico] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Material_Didactico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[ID_Materia] [int] IDENTITY(1000,1) NOT NULL,
	[ID_Carrera] [int] NULL,
	[Nombre_Materia] [nvarchar](60) NULL,
	[Horas_Teoricas] [int] NULL,
	[Horas_Practicas] [int] NULL,
	[Total_Creditos] [int] NULL,
	[Temario] [nvarchar](400) NULL,
	[Semestre] [int] NULL,
	[ID_Especialidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodos](
	[ID_Periodo] [int] IDENTITY(3,1) NOT NULL,
	[Nombre_Periodo] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_periodos_ID_Periodo] PRIMARY KEY CLUSTERED 
(
	[ID_Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[planeacion]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planeacion](
	[ID_Planeacion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Grupo] [int] NOT NULL,
	[Planeacion] [nvarchar](400) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Planeacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[ID_Profesor] [int] IDENTITY(8,1) NOT NULL,
	[Nombre] [nvarchar](45) NOT NULL,
	[Primer_Apellido] [nvarchar](45) NOT NULL,
	[Segundo_Apellido] [nvarchar](45) NOT NULL,
	[ID_Estatus] [int] NOT NULL,
	[Fecha_Ingreso] [date] NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[Contrasena] [nchar](64) NOT NULL,
	[ID_Rol] [int] NOT NULL,
	[Direccion_Foto] [nvarchar](400) NOT NULL,
	[Correo_Institucional] [nvarchar](100) NULL,
 CONSTRAINT [PK_profesores_ID_Profesor] PRIMARY KEY CLUSTERED 
(
	[ID_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recibos]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recibos](
	[ID_Recibo] [int] IDENTITY(4,1) NOT NULL,
	[ID_Alumno] [int] NOT NULL,
	[ID_Estatus] [int] NOT NULL,
	[Referencia_Bancaria] [int] NOT NULL,
	[ID_Concepto] [int] NOT NULL,
	[ID_Banco] [int] NOT NULL,
	[Convenio] [int] NOT NULL,
	[Fecha_Emicion] [date] NOT NULL,
	[Fecha_Vigencia] [date] NOT NULL,
 CONSTRAINT [PK_recibos_ID_Recibo] PRIMARY KEY CLUSTERED 
(
	[ID_Recibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[ID_Rol] [int] IDENTITY(4,1) NOT NULL,
	[Nombre_Rol] [nvarchar](45) NULL,
 CONSTRAINT [PK_roles_ID_Rol] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salones]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salones](
	[ID_Salon] [int] IDENTITY(202,1) NOT NULL,
 CONSTRAINT [PK_salones_ID_Salon] PRIMARY KEY CLUSTERED 
(
	[ID_Salon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[ID_Ticket] [int] IDENTITY(3,1) NOT NULL,
	[ID_Alumno] [int] NOT NULL,
	[Descripcion] [nvarchar](400) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ID_Estatus] [int] NOT NULL,
	[Asunto] [varchar](100) NULL,
	[Evidencia_Url] [nvarchar](400) NULL,
 CONSTRAINT [PK_tickets_ID_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID_Ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets_profesores]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets_profesores](
	[ID_Ticket] [int] IDENTITY(3,1) NOT NULL,
	[ID_Profesor] [int] NOT NULL,
	[Descripcion] [nvarchar](400) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[ID_Estatus] [int] NOT NULL,
	[Asunto] [varchar](100) NULL,
	[Evidencia_Url] [nvarchar](400) NULL,
 CONSTRAINT [PK_tickets_profesores_ID_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID_Ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_credito]    Script Date: 04/05/2026 18:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_credito](
	[ID_Tipo_Credito] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Tipo_Credito] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Credito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[actividades_complementarias] ON 

INSERT [dbo].[actividades_complementarias] ([ID_Actividad_Complementaria], [ID_Tipo_Credito], [Nombre_Actividad], [ID_Periodo], [ID_Profesor], [ID_Departamento], [PDF_Formato_Credito]) VALUES (9, 1, N'Club de Algoritmia y Programacion Competitiva', 2, 1, 1, N'/formatos/extraescolar_algo.pdf')
INSERT [dbo].[actividades_complementarias] ([ID_Actividad_Complementaria], [ID_Tipo_Credito], [Nombre_Actividad], [ID_Periodo], [ID_Profesor], [ID_Departamento], [PDF_Formato_Credito]) VALUES (10, 1, N'Taller de Ensamblaje y Mantenimiento de PC', 2, 2, 1, NULL)
INSERT [dbo].[actividades_complementarias] ([ID_Actividad_Complementaria], [ID_Tipo_Credito], [Nombre_Actividad], [ID_Periodo], [ID_Profesor], [ID_Departamento], [PDF_Formato_Credito]) VALUES (11, 1, N'Torneo Interno de Ajedrez', 2, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[actividades_complementarias] OFF
GO
SET IDENTITY_INSERT [dbo].[alumnos] ON 

SET IDENTITY_INSERT [dbo].[alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[bancos] ON 

INSERT [dbo].[bancos] ([ID_Banco], [Nombre_Banco]) VALUES (1, N'BBVA Bancomer')
INSERT [dbo].[bancos] ([ID_Banco], [Nombre_Banco]) VALUES (2, N'Santander')
SET IDENTITY_INSERT [dbo].[bancos] OFF
GO
SET IDENTITY_INSERT [dbo].[bloques_tiempo] ON 

INSERT [dbo].[bloques_tiempo] ([ID_Bloque_Tiempo], [Hora_Inicio], [Hora_Final]) VALUES (1, CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time))
INSERT [dbo].[bloques_tiempo] ([ID_Bloque_Tiempo], [Hora_Inicio], [Hora_Final]) VALUES (2, CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[bloques_tiempo] ([ID_Bloque_Tiempo], [Hora_Inicio], [Hora_Final]) VALUES (3, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[bloques_tiempo] OFF
GO
SET IDENTITY_INSERT [dbo].[carreras] ON 

INSERT [dbo].[carreras] ([ID_Carrera], [Nombre_Carrera]) VALUES (1, N'Ingeniería en Sistemas Computacionales')
INSERT [dbo].[carreras] ([ID_Carrera], [Nombre_Carrera]) VALUES (2, N'Ingeniería Industrial')
INSERT [dbo].[carreras] ([ID_Carrera], [Nombre_Carrera]) VALUES (3, N'Ingenieria Informatica')
SET IDENTITY_INSERT [dbo].[carreras] OFF
GO
SET IDENTITY_INSERT [dbo].[conceptos_pago] ON 

INSERT [dbo].[conceptos_pago] ([ID_Concepto], [Nombre_Concepto], [Importe]) VALUES (1, N'Inscripción Semestral', CAST(2555.0000 AS Decimal(10, 4)))
INSERT [dbo].[conceptos_pago] ([ID_Concepto], [Nombre_Concepto], [Importe]) VALUES (2, N'Constancia de Estudios', CAST(50.0000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[conceptos_pago] OFF
GO
INSERT [dbo].[creditos_alumnos] ([ID_Alumno], [ID_Actividad_Complementaria], [PDF_CreditoComplementario], [ID_Estatus]) VALUES (1, 9, NULL, 1)
INSERT [dbo].[creditos_alumnos] ([ID_Alumno], [ID_Actividad_Complementaria], [PDF_CreditoComplementario], [ID_Estatus]) VALUES (6, 9, NULL, 2)
INSERT [dbo].[creditos_alumnos] ([ID_Alumno], [ID_Actividad_Complementaria], [PDF_CreditoComplementario], [ID_Estatus]) VALUES (2, 10, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[departamentos_academicos] ON 

INSERT [dbo].[departamentos_academicos] ([ID_Departamento], [Nombre_Departamento], [ID_Jefe_Departamento]) VALUES (1, N'Sistemas y Computación', 1)
INSERT [dbo].[departamentos_academicos] ([ID_Departamento], [Nombre_Departamento], [ID_Jefe_Departamento]) VALUES (2, N'Ingeniería Industrial y Manufactura', 3)
SET IDENTITY_INSERT [dbo].[departamentos_academicos] OFF
GO
INSERT [dbo].[departamentos_carreras] ([ID_Departamento], [ID_Carrera], [ID_Coordinador]) VALUES (1, 1, 1)
INSERT [dbo].[departamentos_carreras] ([ID_Departamento], [ID_Carrera], [ID_Coordinador]) VALUES (2, 2, 3)
INSERT [dbo].[departamentos_carreras] ([ID_Departamento], [ID_Carrera], [ID_Coordinador]) VALUES (1, 3, 7)
GO
SET IDENTITY_INSERT [dbo].[especialidades] ON 

INSERT [dbo].[especialidades] ([ID_Especialidad], [Nombre_Especialidad], [ID_Carrera]) VALUES (1, N'Ingeniería de Software', 1)
INSERT [dbo].[especialidades] ([ID_Especialidad], [Nombre_Especialidad], [ID_Carrera]) VALUES (2, N'Gestión de Calidad', 2)
INSERT [dbo].[especialidades] ([ID_Especialidad], [Nombre_Especialidad], [ID_Carrera]) VALUES (3, N'Desarrollo de software en la nube', 3)
SET IDENTITY_INSERT [dbo].[especialidades] OFF
GO
INSERT [dbo].[estatus_alumnos] ([ID_Estatus], [Nombre_Estatus]) VALUES (4, N'Baja definitiva')
INSERT [dbo].[estatus_alumnos] ([ID_Estatus], [Nombre_Estatus]) VALUES (2, N'Baja Temporal')
INSERT [dbo].[estatus_alumnos] ([ID_Estatus], [Nombre_Estatus]) VALUES (3, N'Egresado')
GO
INSERT [dbo].[estatus_eventos] ([ID_Estatus], [Nombre_Estatus]) VALUES (1, N'Completado')
INSERT [dbo].[estatus_eventos] ([ID_Estatus], [Nombre_Estatus]) VALUES (2, N'Pendiente')
INSERT [dbo].[estatus_eventos] ([ID_Estatus], [Nombre_Estatus]) VALUES (3, N'Rechazado')
GO
INSERT [dbo].[estatus_grupos] ([ID_Estatus], [Nombre_Estatus]) VALUES (1, N'Abierto')
INSERT [dbo].[estatus_grupos] ([ID_Estatus], [Nombre_Estatus]) VALUES (3, N'Cancelado')
INSERT [dbo].[estatus_grupos] ([ID_Estatus], [Nombre_Estatus]) VALUES (2, N'Cerrado')
GO
INSERT [dbo].[estatus_profesores] ([ID_Estatus], [Nombre_Estatus]) VALUES (1, N'Activo')
INSERT [dbo].[estatus_profesores] ([ID_Estatus], [Nombre_Estatus]) VALUES (3, N'Inactivo')
INSERT [dbo].[estatus_profesores] ([ID_Estatus], [Nombre_Estatus]) VALUES (2, N'Vacaciones')
GO
INSERT [dbo].[estatus_recibos] ([ID_Estatus], [Nombre_Estatus]) VALUES (2, N'Pagado')
INSERT [dbo].[estatus_recibos] ([ID_Estatus], [Nombre_Estatus]) VALUES (1, N'Pendiente')
INSERT [dbo].[estatus_recibos] ([ID_Estatus], [Nombre_Estatus]) VALUES (3, N'Vencido')
GO
INSERT [dbo].[estatus_tickets] ([ID_Estatus], [Nombre_Estatus]) VALUES (1, N'Abierto')
INSERT [dbo].[estatus_tickets] ([ID_Estatus], [Nombre_Estatus]) VALUES (2, N'En Proceso')
INSERT [dbo].[estatus_tickets] ([ID_Estatus], [Nombre_Estatus]) VALUES (3, N'Resuelto')
GO
SET IDENTITY_INSERT [dbo].[grupos] ON 

INSERT [dbo].[grupos] ([ID_Grupo], [ID_Carrera], [ID_Materia], [ID_Profesor], [ID_Estatus], [ID_Periodo]) VALUES (3, 2, 1003, 4, 1, 22)
INSERT [dbo].[grupos] ([ID_Grupo], [ID_Carrera], [ID_Materia], [ID_Profesor], [ID_Estatus], [ID_Periodo]) VALUES (33, 3, 1007, 1, 1, 22)
INSERT [dbo].[grupos] ([ID_Grupo], [ID_Carrera], [ID_Materia], [ID_Profesor], [ID_Estatus], [ID_Periodo]) VALUES (34, 3, 1010, 2, 1, 22)
SET IDENTITY_INSERT [dbo].[grupos] OFF
GO
INSERT [dbo].[grupos_alumnos] ([ID_Grupo], [ID_Alumno], [UNIDAD1], [UNIDAD2], [UNIDAD3], [UNIDAD4], [UNIDAD5], [UNIDAD6]) VALUES (2, 3, 70, 75, 80, NULL, NULL, NULL)
INSERT [dbo].[grupos_alumnos] ([ID_Grupo], [ID_Alumno], [UNIDAD1], [UNIDAD2], [UNIDAD3], [UNIDAD4], [UNIDAD5], [UNIDAD6]) VALUES (2, 4, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[grupos_alumnos] ([ID_Grupo], [ID_Alumno], [UNIDAD1], [UNIDAD2], [UNIDAD3], [UNIDAD4], [UNIDAD5], [UNIDAD6]) VALUES (3, 3, 90, 85, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[horarios] ([ID_Grupo], [ID_Salon], [Dia_Semana], [ID_Bloque_Tiempo], [ID_Periodo]) VALUES (3, 201, 2, 1, 1)
INSERT [dbo].[horarios] ([ID_Grupo], [ID_Salon], [Dia_Semana], [ID_Bloque_Tiempo], [ID_Periodo]) VALUES (3, 201, 4, 1, 1)
INSERT [dbo].[horarios] ([ID_Grupo], [ID_Salon], [Dia_Semana], [ID_Bloque_Tiempo], [ID_Periodo]) VALUES (33, 101, 1, 1, 2)
GO
INSERT [dbo].[kardex] ([ID_Carrera], [ID_Materia], [Seriada]) VALUES (1, 1002, 1000)
INSERT [dbo].[kardex] ([ID_Carrera], [ID_Materia], [Seriada]) VALUES (2, 1004, 1003)
INSERT [dbo].[kardex] ([ID_Carrera], [ID_Materia], [Seriada]) VALUES (3, 1005, NULL)
GO
SET IDENTITY_INSERT [dbo].[materias] ON 

INSERT [dbo].[materias] ([ID_Materia], [ID_Carrera], [Nombre_Materia], [Horas_Teoricas], [Horas_Practicas], [Total_Creditos], [Temario], [Semestre], [ID_Especialidad]) VALUES (1000, 1, N'Fundamentos de Bases de Datos', 3, 2, 5, N'1. Modelo Relacional, 2. Álgebra Relacional, 3. SQL Básico', 1, 1)
INSERT [dbo].[materias] ([ID_Materia], [ID_Carrera], [Nombre_Materia], [Horas_Teoricas], [Horas_Practicas], [Total_Creditos], [Temario], [Semestre], [ID_Especialidad]) VALUES (1001, 1, N'Inteligencia de Negocios', 2, 2, 4, N'1. Ciclo de vida, 2. Modelos OLAP, 3. Dashboards', 8, 1)
INSERT [dbo].[materias] ([ID_Materia], [ID_Carrera], [Nombre_Materia], [Horas_Teoricas], [Horas_Practicas], [Total_Creditos], [Temario], [Semestre], [ID_Especialidad]) VALUES (1002, 1, N'Administración de Bases de Datos', 2, 3, 5, N'1. Arquitectura, 2. Respaldos, 3. Seguridad', 7, 1)
SET IDENTITY_INSERT [dbo].[materias] OFF
GO
SET IDENTITY_INSERT [dbo].[periodos] ON 

INSERT [dbo].[periodos] ([ID_Periodo], [Nombre_Periodo]) VALUES (1, N'Ene-Jun 2016')
INSERT [dbo].[periodos] ([ID_Periodo], [Nombre_Periodo]) VALUES (2, N'Ago-Dic 2016')
INSERT [dbo].[periodos] ([ID_Periodo], [Nombre_Periodo]) VALUES (3, N'Ene-Jun 2017')
SET IDENTITY_INSERT [dbo].[periodos] OFF
GO
SET IDENTITY_INSERT [dbo].[profesores] ON 

INSERT [dbo].[profesores] ([ID_Profesor], [Nombre], [Primer_Apellido], [Segundo_Apellido], [ID_Estatus], [Fecha_Ingreso], [ID_Departamento], [Contrasena], [ID_Rol], [Direccion_Foto], [Correo_Institucional]) VALUES (1, N'Roberto', N'García', N'López', 1, CAST(N'2015-08-15' AS Date), 1, N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', 3, N'/imgs/profesores/p1.jpg', NULL)
INSERT [dbo].[profesores] ([ID_Profesor], [Nombre], [Primer_Apellido], [Segundo_Apellido], [ID_Estatus], [Fecha_Ingreso], [ID_Departamento], [Contrasena], [ID_Rol], [Direccion_Foto], [Correo_Institucional]) VALUES (2, N'Laura', N'Martínez', N'Ruiz', 1, CAST(N'2018-01-10' AS Date), 1, N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', 3, N'/imgs/profesores/p2.jpg', NULL)
INSERT [dbo].[profesores] ([ID_Profesor], [Nombre], [Primer_Apellido], [Segundo_Apellido], [ID_Estatus], [Fecha_Ingreso], [ID_Departamento], [Contrasena], [ID_Rol], [Direccion_Foto], [Correo_Institucional]) VALUES (3, N'Elena', N'Torres', N'Mendoza', 1, CAST(N'2016-02-01' AS Date), 2, N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', 3, N'/imgs/profesores/p3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[profesores] OFF
GO
SET IDENTITY_INSERT [dbo].[recibos] ON 

INSERT [dbo].[recibos] ([ID_Recibo], [ID_Alumno], [ID_Estatus], [Referencia_Bancaria], [ID_Concepto], [ID_Banco], [Convenio], [Fecha_Emicion], [Fecha_Vigencia]) VALUES (1, 3, 2, 111222333, 1, 1, 98765, CAST(N'2026-01-08' AS Date), CAST(N'2026-01-20' AS Date))
INSERT [dbo].[recibos] ([ID_Recibo], [ID_Alumno], [ID_Estatus], [Referencia_Bancaria], [ID_Concepto], [ID_Banco], [Convenio], [Fecha_Emicion], [Fecha_Vigencia]) VALUES (2, 4, 3, 444555666, 1, 2, 54321, CAST(N'2026-01-10' AS Date), CAST(N'2026-01-20' AS Date))
INSERT [dbo].[recibos] ([ID_Recibo], [ID_Alumno], [ID_Estatus], [Referencia_Bancaria], [ID_Concepto], [ID_Banco], [Convenio], [Fecha_Emicion], [Fecha_Vigencia]) VALUES (3, 5, 1, 777888999, 1, 1, 98765, CAST(N'2026-04-10' AS Date), CAST(N'2026-04-25' AS Date))
SET IDENTITY_INSERT [dbo].[recibos] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([ID_Rol], [Nombre_Rol]) VALUES (1, N'Jefe de Departamento')
INSERT [dbo].[roles] ([ID_Rol], [Nombre_Rol]) VALUES (2, N'Coordinador')
INSERT [dbo].[roles] ([ID_Rol], [Nombre_Rol]) VALUES (3, N'Profesor')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[salones] ON 

INSERT [dbo].[salones] ([ID_Salon]) VALUES (101)
INSERT [dbo].[salones] ([ID_Salon]) VALUES (102)
INSERT [dbo].[salones] ([ID_Salon]) VALUES (201)
SET IDENTITY_INSERT [dbo].[salones] OFF
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([ID_Ticket], [ID_Alumno], [Descripcion], [Fecha], [ID_Estatus], [Asunto], [Evidencia_Url]) VALUES (1, 1, N'No puedo visualizar mis calificaciones de la Unidad 2 en el portal.', CAST(N'2026-04-22T09:38:40.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[tickets] ([ID_Ticket], [ID_Alumno], [Descripcion], [Fecha], [ID_Estatus], [Asunto], [Evidencia_Url]) VALUES (2, 2, N'Solicitud de corrección en mi nombre dentro del perfil institucional.', CAST(N'2026-04-22T09:38:40.000' AS DateTime), 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[tickets_profesores] ON 

INSERT [dbo].[tickets_profesores] ([ID_Ticket], [ID_Profesor], [Descripcion], [Fecha], [ID_Estatus], [Asunto], [Evidencia_Url]) VALUES (1, 1, N'El proyector del Salón 101 tiene el foco fundido y la imagen parpadea.', CAST(N'2026-04-22T09:38:40.000' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[tickets_profesores] ([ID_Ticket], [ID_Profesor], [Descripcion], [Fecha], [ID_Estatus], [Asunto], [Evidencia_Url]) VALUES (2, 2, N'No se ha reflejado mi pago correspondiente a la quincena anterior.', CAST(N'2026-04-22T09:38:40.000' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tickets_profesores] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_credito] ON 

INSERT [dbo].[tipo_credito] ([ID_Tipo_Credito], [Nombre_Tipo_Credito]) VALUES (1, N'Extraescolar')
INSERT [dbo].[tipo_credito] ([ID_Tipo_Credito], [Nombre_Tipo_Credito]) VALUES (2, N'Conferencia/Talleres')
INSERT [dbo].[tipo_credito] ([ID_Tipo_Credito], [Nombre_Tipo_Credito]) VALUES (3, N'Tutorias')
SET IDENTITY_INSERT [dbo].[tipo_credito] OFF
GO
/****** Object:  Index [FK_Alumnos_Carreras_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Alumnos_Carreras_idx] ON [dbo].[alumnos]
(
	[ID_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Alumnos_Especialidades_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Alumnos_Especialidades_idx] ON [dbo].[alumnos]
(
	[ID_Especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Alumnos_Estatus_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Alumnos_Estatus_idx] ON [dbo].[alumnos]
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Alumnos_Periodos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Alumnos_Periodos_idx] ON [dbo].[alumnos]
(
	[ID_Periodo_Ingreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [bancos$Nombre_Banco_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[bancos] ADD  CONSTRAINT [bancos$Nombre_Banco_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Banco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [carreras$Carrerascol_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[carreras] ADD  CONSTRAINT [carreras$Carrerascol_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_IDAlumno_IDActividadComplementaria]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[creditos_alumnos] ADD  CONSTRAINT [UQ_IDAlumno_IDActividadComplementaria] UNIQUE NONCLUSTERED 
(
	[ID_Alumno] ASC,
	[ID_Actividad_Complementaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [departamentos_academicos$Nombre_Departamento_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[departamentos_academicos] ADD  CONSTRAINT [departamentos_academicos$Nombre_Departamento_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_DepartamentoAcademico_Profesores_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_DepartamentoAcademico_Profesores_idx] ON [dbo].[departamentos_academicos]
(
	[ID_Jefe_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_DepartamentosCarreras_Carreras_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_DepartamentosCarreras_Carreras_idx] ON [dbo].[departamentos_carreras]
(
	[ID_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Fk_DepartamentosCarreras_Departamentos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [Fk_DepartamentosCarreras_Departamentos_idx] ON [dbo].[departamentos_carreras]
(
	[ID_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_DepartamentosCarreras_Profesores_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_DepartamentosCarreras_Profesores_idx] ON [dbo].[departamentos_carreras]
(
	[ID_Coordinador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Especialidades_Carreras_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Especialidades_Carreras_idx] ON [dbo].[especialidades]
(
	[ID_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [estatus_alumnos$Nombre_Estatus_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[estatus_alumnos] ADD  CONSTRAINT [estatus_alumnos$Nombre_Estatus_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [estatus_grupos$Nombre_Estatus_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[estatus_grupos] ADD  CONSTRAINT [estatus_grupos$Nombre_Estatus_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [estatus_profesores$Nombre_Estatus_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[estatus_profesores] ADD  CONSTRAINT [estatus_profesores$Nombre_Estatus_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [estatus_recibos$Nombre_Estatus_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[estatus_recibos] ADD  CONSTRAINT [estatus_recibos$Nombre_Estatus_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [estatus_tickets$Nombre_Estatus_UNIQUE]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[estatus_tickets] ADD  CONSTRAINT [estatus_tickets$Nombre_Estatus_UNIQUE] UNIQUE NONCLUSTERED 
(
	[Nombre_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uk_fuentesinformacion_IDGrupo]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[fuentes_informacion] ADD  CONSTRAINT [uk_fuentesinformacion_IDGrupo] UNIQUE NONCLUSTERED 
(
	[ID_Fuentes_Informacion] ASC,
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Grupos_Carreras_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Grupos_Carreras_idx] ON [dbo].[grupos]
(
	[ID_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Grupos_Estatus_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Grupos_Estatus_idx] ON [dbo].[grupos]
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Grupos_Materias_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Grupos_Materias_idx] ON [dbo].[grupos]
(
	[ID_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Grupos_Periodos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Grupos_Periodos_idx] ON [dbo].[grupos]
(
	[ID_Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Grupos_Profesores_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Grupos_Profesores_idx] ON [dbo].[grupos]
(
	[ID_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uk_grupo_alumno]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[grupos_alumnos] ADD  CONSTRAINT [uk_grupo_alumno] UNIQUE NONCLUSTERED 
(
	[ID_Grupo] ASC,
	[ID_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_GrupoAlumnos_Alumnos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_GrupoAlumnos_Alumnos_idx] ON [dbo].[grupos_alumnos]
(
	[ID_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_GrupoAlumnos_Grupos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_GrupoAlumnos_Grupos_idx] ON [dbo].[grupos_alumnos]
(
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Horarios_BloquesTiempo_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Horarios_BloquesTiempo_idx] ON [dbo].[horarios]
(
	[ID_Bloque_Tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Horarios_Grupos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Horarios_Grupos_idx] ON [dbo].[horarios]
(
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Horarios_Periodos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Horarios_Periodos_idx] ON [dbo].[horarios]
(
	[ID_Periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Horarios_Salones_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Horarios_Salones_idx] ON [dbo].[horarios]
(
	[ID_Salon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uk_IDInstrumentacion_IDGrupo]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[instrumentacion] ADD  CONSTRAINT [uk_IDInstrumentacion_IDGrupo] UNIQUE NONCLUSTERED 
(
	[ID_Instrumentacion] ASC,
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_KardexMaterias_Kardex_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_KardexMaterias_Kardex_idx] ON [dbo].[kardex]
(
	[ID_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_KardexMaterias_Materias_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_KardexMaterias_Materias_idx] ON [dbo].[kardex]
(
	[ID_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uk_IDMaterialDidactico_IDGrupo]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[material_didactico] ADD  CONSTRAINT [uk_IDMaterialDidactico_IDGrupo] UNIQUE NONCLUSTERED 
(
	[ID_Material_Didactico] ASC,
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uk_IDplaneacion_IDGrupo]    Script Date: 04/05/2026 18:40:47 ******/
ALTER TABLE [dbo].[planeacion] ADD  CONSTRAINT [uk_IDplaneacion_IDGrupo] UNIQUE NONCLUSTERED 
(
	[ID_Planeacion] ASC,
	[ID_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Profesores_Departamento_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Profesores_Departamento_idx] ON [dbo].[profesores]
(
	[ID_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Profesores_Estatus_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Profesores_Estatus_idx] ON [dbo].[profesores]
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Profesores_Roles_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Profesores_Roles_idx] ON [dbo].[profesores]
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Recibos_Alumnos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Recibos_Alumnos_idx] ON [dbo].[recibos]
(
	[ID_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Recibos_Bancos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Recibos_Bancos_idx] ON [dbo].[recibos]
(
	[ID_Banco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Recibos_Conceptos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Recibos_Conceptos_idx] ON [dbo].[recibos]
(
	[ID_Concepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Recibos_Estatus_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Recibos_Estatus_idx] ON [dbo].[recibos]
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Tickets_Alumnos_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Tickets_Alumnos_idx] ON [dbo].[tickets]
(
	[ID_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Tickets_Estatus_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Tickets_Estatus_idx] ON [dbo].[tickets]
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_Tickets_Estatus_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_Tickets_Estatus_idx] ON [dbo].[tickets_profesores]
(
	[ID_Estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_TicketsProfesores_Profesores_idx]    Script Date: 04/05/2026 18:40:47 ******/
CREATE NONCLUSTERED INDEX [FK_TicketsProfesores_Profesores_idx] ON [dbo].[tickets_profesores]
(
	[ID_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [Segundo_Apellido]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [ID_Especialidad]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [ID_Estatus]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [Correo_Institucional]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [Ciudad]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [Colonia]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [Calle]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (NULL) FOR [Codigo_Postal]
GO
ALTER TABLE [dbo].[grupos] ADD  DEFAULT (NULL) FOR [ID_Profesor]
GO
ALTER TABLE [dbo].[grupos_alumnos] ADD  DEFAULT ((100)) FOR [UNIDAD1]
GO
ALTER TABLE [dbo].[grupos_alumnos] ADD  DEFAULT ((100)) FOR [UNIDAD2]
GO
ALTER TABLE [dbo].[grupos_alumnos] ADD  DEFAULT ((100)) FOR [UNIDAD3]
GO
ALTER TABLE [dbo].[grupos_alumnos] ADD  DEFAULT ((100)) FOR [UNIDAD4]
GO
ALTER TABLE [dbo].[grupos_alumnos] ADD  DEFAULT ((100)) FOR [UNIDAD5]
GO
ALTER TABLE [dbo].[grupos_alumnos] ADD  DEFAULT ((100)) FOR [UNIDAD6]
GO
ALTER TABLE [dbo].[kardex] ADD  DEFAULT (NULL) FOR [Seriada]
GO
ALTER TABLE [dbo].[profesores] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Fecha_Ingreso]
GO
ALTER TABLE [dbo].[recibos] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Fecha_Emicion]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (NULL) FOR [Nombre_Rol]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[tickets_profesores] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[actividades_complementarias]  WITH CHECK ADD  CONSTRAINT [FK_ActividadesComplementarias_DepartamentosAcademicos] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[departamentos_academicos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[actividades_complementarias] CHECK CONSTRAINT [FK_ActividadesComplementarias_DepartamentosAcademicos]
GO
ALTER TABLE [dbo].[actividades_complementarias]  WITH CHECK ADD  CONSTRAINT [FK_actividadescomplementarias_Periodos] FOREIGN KEY([ID_Periodo])
REFERENCES [dbo].[periodos] ([ID_Periodo])
GO
ALTER TABLE [dbo].[actividades_complementarias] CHECK CONSTRAINT [FK_actividadescomplementarias_Periodos]
GO
ALTER TABLE [dbo].[actividades_complementarias]  WITH CHECK ADD  CONSTRAINT [FK_ActividadesComplementarias_Profesor] FOREIGN KEY([ID_Profesor])
REFERENCES [dbo].[profesores] ([ID_Profesor])
GO
ALTER TABLE [dbo].[actividades_complementarias] CHECK CONSTRAINT [FK_ActividadesComplementarias_Profesor]
GO
ALTER TABLE [dbo].[actividades_complementarias]  WITH CHECK ADD  CONSTRAINT [FK_ActividadesComplementarias_TipoCredito] FOREIGN KEY([ID_Tipo_Credito])
REFERENCES [dbo].[tipo_credito] ([ID_Tipo_Credito])
GO
ALTER TABLE [dbo].[actividades_complementarias] CHECK CONSTRAINT [FK_ActividadesComplementarias_TipoCredito]
GO
ALTER TABLE [dbo].[alumnos]  WITH NOCHECK ADD  CONSTRAINT [alumnos$FK_Alumnos_Carreras] FOREIGN KEY([ID_Carrera])
REFERENCES [dbo].[carreras] ([ID_Carrera])
GO
ALTER TABLE [dbo].[alumnos] CHECK CONSTRAINT [alumnos$FK_Alumnos_Carreras]
GO
ALTER TABLE [dbo].[alumnos]  WITH NOCHECK ADD  CONSTRAINT [alumnos$FK_Alumnos_Especialidades] FOREIGN KEY([ID_Especialidad])
REFERENCES [dbo].[especialidades] ([ID_Especialidad])
GO
ALTER TABLE [dbo].[alumnos] CHECK CONSTRAINT [alumnos$FK_Alumnos_Especialidades]
GO
ALTER TABLE [dbo].[alumnos]  WITH NOCHECK ADD  CONSTRAINT [alumnos$FK_Alumnos_Estatus] FOREIGN KEY([ID_Estatus])
REFERENCES [dbo].[estatus_alumnos] ([ID_Estatus])
GO
ALTER TABLE [dbo].[alumnos] CHECK CONSTRAINT [alumnos$FK_Alumnos_Estatus]
GO
ALTER TABLE [dbo].[alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Periodos] FOREIGN KEY([ID_Periodo_Ingreso])
REFERENCES [dbo].[periodos] ([ID_Periodo])
GO
ALTER TABLE [dbo].[alumnos] CHECK CONSTRAINT [FK_Alumnos_Periodos]
GO
ALTER TABLE [dbo].[creditos_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_CreditosAlumnos_ActividadComplementaria] FOREIGN KEY([ID_Actividad_Complementaria])
REFERENCES [dbo].[actividades_complementarias] ([ID_Actividad_Complementaria])
GO
ALTER TABLE [dbo].[creditos_alumnos] CHECK CONSTRAINT [FK_CreditosAlumnos_ActividadComplementaria]
GO
ALTER TABLE [dbo].[creditos_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_CreditosAlumnos_Alumnos] FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[alumnos] ([ID_Alumno])
GO
ALTER TABLE [dbo].[creditos_alumnos] CHECK CONSTRAINT [FK_CreditosAlumnos_Alumnos]
GO
ALTER TABLE [dbo].[creditos_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_CreditosAlumnos_Estatus] FOREIGN KEY([ID_Estatus])
REFERENCES [dbo].[estatus_eventos] ([ID_Estatus])
GO
ALTER TABLE [dbo].[creditos_alumnos] CHECK CONSTRAINT [FK_CreditosAlumnos_Estatus]
GO
ALTER TABLE [dbo].[departamentos_academicos]  WITH NOCHECK ADD  CONSTRAINT [departamentos_academicos$FK_DepartamentoAcademico_Profesores] FOREIGN KEY([ID_Jefe_Departamento])
REFERENCES [dbo].[profesores] ([ID_Profesor])
GO
ALTER TABLE [dbo].[departamentos_academicos] CHECK CONSTRAINT [departamentos_academicos$FK_DepartamentoAcademico_Profesores]
GO
ALTER TABLE [dbo].[departamentos_carreras]  WITH NOCHECK ADD  CONSTRAINT [departamentos_carreras$FK_DepartamentosCarreras_Carreras] FOREIGN KEY([ID_Carrera])
REFERENCES [dbo].[carreras] ([ID_Carrera])
GO
ALTER TABLE [dbo].[departamentos_carreras] CHECK CONSTRAINT [departamentos_carreras$FK_DepartamentosCarreras_Carreras]
GO
ALTER TABLE [dbo].[departamentos_carreras]  WITH NOCHECK ADD  CONSTRAINT [departamentos_carreras$FK_DepartamentosCarreras_Departamentos] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[departamentos_academicos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[departamentos_carreras] CHECK CONSTRAINT [departamentos_carreras$FK_DepartamentosCarreras_Departamentos]
GO
ALTER TABLE [dbo].[departamentos_carreras]  WITH NOCHECK ADD  CONSTRAINT [departamentos_carreras$FK_DepartamentosCarreras_Profesores] FOREIGN KEY([ID_Coordinador])
REFERENCES [dbo].[profesores] ([ID_Profesor])
GO
ALTER TABLE [dbo].[departamentos_carreras] CHECK CONSTRAINT [departamentos_carreras$FK_DepartamentosCarreras_Profesores]
GO
ALTER TABLE [dbo].[especialidades]  WITH NOCHECK ADD  CONSTRAINT [especialidades$FK_Especialidades_Carreras] FOREIGN KEY([ID_Carrera])
REFERENCES [dbo].[carreras] ([ID_Carrera])
GO
ALTER TABLE [dbo].[especialidades] CHECK CONSTRAINT [especialidades$FK_Especialidades_Carreras]
GO
ALTER TABLE [dbo].[fuentes_informacion]  WITH CHECK ADD  CONSTRAINT [FK_fuentesinformacion_grupos] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[grupos] ([ID_Grupo])
GO
ALTER TABLE [dbo].[fuentes_informacion] CHECK CONSTRAINT [FK_fuentesinformacion_grupos]
GO
ALTER TABLE [dbo].[grupos]  WITH CHECK ADD  CONSTRAINT [FK_grupos_materias] FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[materias] ([ID_Materia])
GO
ALTER TABLE [dbo].[grupos] CHECK CONSTRAINT [FK_grupos_materias]
GO
ALTER TABLE [dbo].[grupos]  WITH CHECK ADD  CONSTRAINT [FK_Grupos_Periodos] FOREIGN KEY([ID_Periodo])
REFERENCES [dbo].[periodos] ([ID_Periodo])
GO
ALTER TABLE [dbo].[grupos] CHECK CONSTRAINT [FK_Grupos_Periodos]
GO
ALTER TABLE [dbo].[grupos]  WITH NOCHECK ADD  CONSTRAINT [grupos$FK_Grupos_Carreras] FOREIGN KEY([ID_Carrera])
REFERENCES [dbo].[carreras] ([ID_Carrera])
GO
ALTER TABLE [dbo].[grupos] CHECK CONSTRAINT [grupos$FK_Grupos_Carreras]
GO
ALTER TABLE [dbo].[grupos]  WITH NOCHECK ADD  CONSTRAINT [grupos$FK_Grupos_Estatus] FOREIGN KEY([ID_Estatus])
REFERENCES [dbo].[estatus_grupos] ([ID_Estatus])
GO
ALTER TABLE [dbo].[grupos] CHECK CONSTRAINT [grupos$FK_Grupos_Estatus]
GO
ALTER TABLE [dbo].[grupos]  WITH NOCHECK ADD  CONSTRAINT [grupos$FK_Grupos_Profesores] FOREIGN KEY([ID_Profesor])
REFERENCES [dbo].[profesores] ([ID_Profesor])
GO
ALTER TABLE [dbo].[grupos] CHECK CONSTRAINT [grupos$FK_Grupos_Profesores]
GO
ALTER TABLE [dbo].[grupos_alumnos]  WITH NOCHECK ADD  CONSTRAINT [grupos_alumnos$FK_GrupoAlumnos_Alumnos] FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[alumnos] ([ID_Alumno])
GO
ALTER TABLE [dbo].[grupos_alumnos] CHECK CONSTRAINT [grupos_alumnos$FK_GrupoAlumnos_Alumnos]
GO
ALTER TABLE [dbo].[grupos_alumnos]  WITH NOCHECK ADD  CONSTRAINT [grupos_alumnos$FK_GrupoAlumnos_Grupos] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[grupos] ([ID_Grupo])
GO
ALTER TABLE [dbo].[grupos_alumnos] CHECK CONSTRAINT [grupos_alumnos$FK_GrupoAlumnos_Grupos]
GO
ALTER TABLE [dbo].[horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Periodos] FOREIGN KEY([ID_Periodo])
REFERENCES [dbo].[periodos] ([ID_Periodo])
GO
ALTER TABLE [dbo].[horarios] CHECK CONSTRAINT [FK_Horarios_Periodos]
GO
ALTER TABLE [dbo].[horarios]  WITH NOCHECK ADD  CONSTRAINT [horarios$FK_Horarios_BloquesTiempo] FOREIGN KEY([ID_Bloque_Tiempo])
REFERENCES [dbo].[bloques_tiempo] ([ID_Bloque_Tiempo])
GO
ALTER TABLE [dbo].[horarios] CHECK CONSTRAINT [horarios$FK_Horarios_BloquesTiempo]
GO
ALTER TABLE [dbo].[horarios]  WITH NOCHECK ADD  CONSTRAINT [horarios$FK_Horarios_Grupos] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[grupos] ([ID_Grupo])
GO
ALTER TABLE [dbo].[horarios] CHECK CONSTRAINT [horarios$FK_Horarios_Grupos]
GO
ALTER TABLE [dbo].[horarios]  WITH NOCHECK ADD  CONSTRAINT [horarios$FK_Horarios_Salones] FOREIGN KEY([ID_Salon])
REFERENCES [dbo].[salones] ([ID_Salon])
GO
ALTER TABLE [dbo].[horarios] CHECK CONSTRAINT [horarios$FK_Horarios_Salones]
GO
ALTER TABLE [dbo].[instrumentacion]  WITH CHECK ADD  CONSTRAINT [FK_instrumentacion_grupos] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[grupos] ([ID_Grupo])
GO
ALTER TABLE [dbo].[instrumentacion] CHECK CONSTRAINT [FK_instrumentacion_grupos]
GO
ALTER TABLE [dbo].[kardex]  WITH CHECK ADD  CONSTRAINT [FK_kardex_materias] FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[materias] ([ID_Materia])
GO
ALTER TABLE [dbo].[kardex] CHECK CONSTRAINT [FK_kardex_materias]
GO
ALTER TABLE [dbo].[kardex]  WITH NOCHECK ADD  CONSTRAINT [kardex$FK_KardexMaterias_Kardex] FOREIGN KEY([ID_Carrera])
REFERENCES [dbo].[carreras] ([ID_Carrera])
GO
ALTER TABLE [dbo].[kardex] CHECK CONSTRAINT [kardex$FK_KardexMaterias_Kardex]
GO
ALTER TABLE [dbo].[material_didactico]  WITH CHECK ADD  CONSTRAINT [FK_materialdidactico_grupos] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[grupos] ([ID_Grupo])
GO
ALTER TABLE [dbo].[material_didactico] CHECK CONSTRAINT [FK_materialdidactico_grupos]
GO
ALTER TABLE [dbo].[planeacion]  WITH CHECK ADD  CONSTRAINT [FK_planeacion_grupos] FOREIGN KEY([ID_Grupo])
REFERENCES [dbo].[grupos] ([ID_Grupo])
GO
ALTER TABLE [dbo].[planeacion] CHECK CONSTRAINT [FK_planeacion_grupos]
GO
ALTER TABLE [dbo].[profesores]  WITH NOCHECK ADD  CONSTRAINT [profesores$FK_Profesores_Departamento] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[departamentos_academicos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [profesores$FK_Profesores_Departamento]
GO
ALTER TABLE [dbo].[profesores]  WITH NOCHECK ADD  CONSTRAINT [profesores$FK_Profesores_Estatus] FOREIGN KEY([ID_Estatus])
REFERENCES [dbo].[estatus_profesores] ([ID_Estatus])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [profesores$FK_Profesores_Estatus]
GO
ALTER TABLE [dbo].[profesores]  WITH NOCHECK ADD  CONSTRAINT [profesores$FK_Profesores_Roles] FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[roles] ([ID_Rol])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [profesores$FK_Profesores_Roles]
GO
ALTER TABLE [dbo].[recibos]  WITH CHECK ADD  CONSTRAINT [FK_recibos_conceptos] FOREIGN KEY([ID_Concepto])
REFERENCES [dbo].[conceptos_pago] ([ID_Concepto])
GO
ALTER TABLE [dbo].[recibos] CHECK CONSTRAINT [FK_recibos_conceptos]
GO
ALTER TABLE [dbo].[recibos]  WITH NOCHECK ADD  CONSTRAINT [recibos$FK_Recibos_Alumnos] FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[alumnos] ([ID_Alumno])
GO
ALTER TABLE [dbo].[recibos] CHECK CONSTRAINT [recibos$FK_Recibos_Alumnos]
GO
ALTER TABLE [dbo].[recibos]  WITH NOCHECK ADD  CONSTRAINT [recibos$FK_Recibos_Bancos] FOREIGN KEY([ID_Banco])
REFERENCES [dbo].[bancos] ([ID_Banco])
GO
ALTER TABLE [dbo].[recibos] CHECK CONSTRAINT [recibos$FK_Recibos_Bancos]
GO
ALTER TABLE [dbo].[recibos]  WITH NOCHECK ADD  CONSTRAINT [recibos$FK_Recibos_Estatus] FOREIGN KEY([ID_Estatus])
REFERENCES [dbo].[estatus_recibos] ([ID_Estatus])
GO
ALTER TABLE [dbo].[recibos] CHECK CONSTRAINT [recibos$FK_Recibos_Estatus]
GO
ALTER TABLE [dbo].[tickets]  WITH NOCHECK ADD  CONSTRAINT [tickets$FK_Tickets_Estatus] FOREIGN KEY([ID_Estatus])
REFERENCES [dbo].[estatus_tickets] ([ID_Estatus])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [tickets$FK_Tickets_Estatus]
GO
ALTER TABLE [dbo].[tickets]  WITH NOCHECK ADD  CONSTRAINT [tickets$FK_TicketsAlumnos_Alumnos] FOREIGN KEY([ID_Alumno])
REFERENCES [dbo].[alumnos] ([ID_Alumno])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [tickets$FK_TicketsAlumnos_Alumnos]
GO
ALTER TABLE [dbo].[tickets_profesores]  WITH NOCHECK ADD  CONSTRAINT [tickets_profesores$FK_TicketsProfesores_Estatus] FOREIGN KEY([ID_Estatus])
REFERENCES [dbo].[estatus_tickets] ([ID_Estatus])
GO
ALTER TABLE [dbo].[tickets_profesores] CHECK CONSTRAINT [tickets_profesores$FK_TicketsProfesores_Estatus]
GO
ALTER TABLE [dbo].[tickets_profesores]  WITH NOCHECK ADD  CONSTRAINT [tickets_profesores$FK_TicketsProfesores_Profesores] FOREIGN KEY([ID_Profesor])
REFERENCES [dbo].[profesores] ([ID_Profesor])
GO
ALTER TABLE [dbo].[tickets_profesores] CHECK CONSTRAINT [tickets_profesores$FK_TicketsProfesores_Profesores]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.alumnos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'alumnos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.bancos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bancos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.bloques_tiempo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bloques_tiempo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.carreras' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'carreras'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.departamentos_academicos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'departamentos_academicos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.departamentos_carreras' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'departamentos_carreras'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.especialidades' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'especialidades'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.estatus_alumnos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'estatus_alumnos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.estatus_eventos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'estatus_eventos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.estatus_grupos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'estatus_grupos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.estatus_profesores' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'estatus_profesores'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.estatus_recibos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'estatus_recibos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.estatus_tickets' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'estatus_tickets'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.grupos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'grupos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.grupos_alumnos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'grupos_alumnos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.horarios' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'horarios'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.kardex' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'kardex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.periodos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'periodos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.profesores' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'profesores'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.recibos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'recibos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.roles' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'roles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.salones' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'salones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.tickets' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tickets'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'proyectoambar.tickets_profesores' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tickets_profesores'
GO
USE [master]
GO
